body {
	width: 10%;
	margin: auto;
}

.login {
	margin-top: 100px;
	margin-bottom: 100px;
	border: 1px solid gray;
	width: 400px;
	border-radius: 10px;
}

.register {
	border: 1px solid gray;
	width: 400px;
	border-radius: 10px;
}
