<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <span>
        <a class="btn btn-primary" href="/forum">Home</a>
    </span>
    <span id="navbar">
        <a class="btn btn-default" href="/forum/logout">Logout</a>
    </span>    <title>Edit Message</title>
</head>
<body class="container-fluid">
	<h3> Edit your message</h3>
    <form action="/forum/edit/<%= message._id %>" method="post">
        <textarea name="message"> <%= message.message %> </textarea><br/>
        <input type="submit" value="Submit" class="btn btn-default"/>
        <a href="/forum/<%= message._post %>" class="btn btn-default">Cancel</a>
    </form>
</body>
</html>