<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <span>
        <a class="btn btn-primary" href="/forum">Home</a>
    </span>
    <span id="navbar">
        <a class="btn btn-default" href="/forum/logout">Logout</a>
    </span>
    <title>Forum</title>
</head>
<body>
<h1>Post your rants</h1>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date Created</th>
        <th></th>
    </tr>
    <% for (i = 0; i < posts.length; i++) { %>
        <tr>
            <td><a href="/forum/<%= posts[i]._id %>"><%= posts[i].title %></a></td>
            <td><%= posts[i].user.name %></td>
            <td><%= posts[i].fdate %></td>
            <% if (posts[i].user._id === user._id) { %>
            <td><a class="btn btn-danger" href="/forum/deletePost/<%= posts[i]._id %>">X</a>
            <% } else { %>
            <th></th>
            <% } %>
        </tr>
    <% } %>
</table>
<a class="btn btn-primary" href="/forum/newThread">Add post</a>
</body>
</html>