<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <span>
        <a class="btn btn-primary" href="/forum">Home</a>
    </span>
    <span id="navbar">
        <a class="btn btn-default" href="/forum/logout">Logout</a>
    </span>
    <title>Add new page</title>
</head>
<body class="container-fluid">
	<h2>Add a new thread</h2>
    <form action="/forum/newThread" method="post">
    	<div class="form-group">
        <input type="text" name="title" placeholder="Title"/><br/>
        </div>
        <div class="form-group">
        <textarea name="message" placeholder="Enter your post here!"></textarea><br/>
        </div>
        <input class="btn btn-primary" type="submit" name="Start thread"/>
    </form>
</body>
</html>