<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <span>
        <a class="btn btn-primary" href="/forum">Home</a>
    </span>
    <span id="navbar">
        <a class="btn btn-default" href="/forum/logout">Logout</a>
    </span>    <link rel="stylesheet" href="/stylesheets/thread.css">
    <title><%= post.title %></title>
</head>
<body>
<div class="container-fluid">
<h1><%= post.title %></h1>
<table class="table table-striped table-compact">
<%  for(i = 0; i < messages.length; i++) { %>
    <tr>
    <td><h4>By: <%= messages[i].user.name  %> on <%= messages[i].fdate%> </h4>
        <%= messages[i].message %><br/>
        <% if (messages[i].user._id === user._id) { %>
        <h6>
        <a href="/forum/edit/<%=messages[i]._id %>">Edit</a>
        <a href="/forum/delete/<%= messages[i]._id%>">Delete</a>
        </h6>
        <% } %>
        </td>
    <tr>
<%  } %>
</table>
<form action="/forum/<%= post._id%>" method="post">
    <textarea name="message" placeholder="Enter your post here"></textarea><br/>
    <input class="btn btn-primary" type="submit" value="Post"/>
</form>
</div>
</body>
</html>