<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<div class="container login">
<h1>Login</h1>
<form action="/forum/login" method="post">
    <div class="form-group">
        <label>Username:</label><br/> <input placeholder="Username" name="username" type="text"/><br/><br/>
        <label>Password:</label><br/> <input placeholder="Password" name="password" type="password"/><br/><br/>
        <input type="submit" class="btn btn-primary" value="Login"/>
    </div>
</form>
</div>
<div class="container register">
<h1>Register</h1>
<form action="/forum/register" method="post">
    <div class="form-group">
        <label>Full name:</label><br/> <input placeholder="First and Last name" name="name" type="text"/><br/><br/>
        <label>Username:</label><br/> <input placeholder="Username" name="username" type="text"/><br/><br/>
        <label>Password:</label><br/> <input placeholder="Password" name="password" type="password"/><br/><br/>
        <input type="submit" class="btn btn-primary" value="Register"/>
    </div>
</form>
</div>
</body>
</html>
